# DataFrames from other sources

In [1]:
topics = ['what is data science', 'jupyter', 'conditional','functions', 'lists', 'dictionaries','pandas' ]
topics[-1]

'pandas'

Python reserve words turn green:

In [2]:
print

In [3]:
def

SyntaxError: invalid syntax (1102136943.py, line 1)

In [4]:
a = [char for char in 'abcde']
b =  {char:i for i, char in enumerate('abcde')}
c = ('a','b','c','d','e')
d = 'a b c d e'.split(' ')

In [5]:
type(a), type(b), type(c), type(d)

(list, dict, tuple, list)

In [6]:
b

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}

In [7]:
a

['a', 'b', 'c', 'd', 'e']

In [8]:
a[0]

'a'

In [9]:
b['b']

1

In [10]:
a_long = []
for char in 'abcde':
    a_long.append(char)

In [11]:
a_long

['a', 'b', 'c', 'd', 'e']

In [12]:
enumerate

enumerate

## Read DataFrames from HTML

In [13]:
course_comms_url = 'https://rhodyprog4ds.github.io/BrownFall23/syllabus/communication.html'

In [14]:
import pandas as pd

In [15]:
pd.read_html(course_comms_url)

[      Day      Time Location       Host
 0     TBD       TBD     Zoom  Dr. Brown
 1  Monday  12pm-2pm     Zoom       Mark,
                                                usage platform  \
 0                                           in class  prismia
 1                                           any time  prismia
 2               private questions to your assignment   github
 3         for general questions that can help others   github
 4  to share resources or ask general questions in...   github
 5       matters that don't fit into another category   e-mail

                            area  \
 0                          chat
 1           download transcript
 2      issue on assignment repo
 3       issue on course website
 4  discussion on community repo
 5        to brownsarahm@uri.edu

                                                 note
 0  outside of class time this is not monitored cl...
 1  use after class to get preliminary notes eg if...
 2                              eg bugs in your code"
 3  eg what the instructions of an assignment mean...
 4                    include links in your portfolio
 5  remember to include `[CSC310]` or `[DSP310]` (...  ]

In [16]:
comm_df_list = pd.read_html(course_comms_url)

In [17]:
type(comm_df_list)

list

In [18]:
type(comm_df_list[0])

pandas.core.frame.DataFrame

In [19]:
comm_df_list[0].shape

(2, 4)

In [20]:
achievements_url = 'https://rhodyprog4ds.github.io/BrownFall23/syllabus/achievements.html'

Let's make a list of the shapes of all of the tables on that page

In [21]:
shape_list_comp =[df.shape for df in pd.read_html(achievements_url)]
shape_list_comp

[(14, 3), (15, 5), (15, 15), (15, 6)]

In [22]:
shape_list = []
for df in pd.read_html(achievements_url):
    shape_list.append(df.shape)

In [23]:
type([1,2,3])

list

In [24]:
coffee_data_url = 'https://raw.githubusercontent.com/jldbc/coffee-quality-database/master/data/robusta_data_cleaned.csv'

In [25]:
coffee_df = pd.read_csv(coffee_data_url,index_col=0)

In [26]:
coffee_df.shape

(28, 43)

In [27]:
coffee_df.head(1)

,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,Region,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
1,Robusta,ankole coffee producers coop,Uganda,kyangundu cooperative society,NaN,ankole coffee producers,0,ankole coffee producers coop,1488,sheema south western,...,Green,2,"June 26th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1488.0,1488.0,1488.0

In [28]:
coffee_df.sample(3)

,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,Region,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
14,Robusta,kasozi coffee farmers association,Uganda,kasozi coffee farmers,NaN,NaN,0,kasozi coffee farmers association,1367,eastern,...,Green,7,"July 14th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1367.0,1367.0,1367.0
15,Robusta,ankole coffee producers coop,Uganda,kyangundu coop society,NaN,ankole coffee producers coop union ltd,0,ankole coffee producers coop,1488,south western,...,Green,2,"July 14th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1488.0,1488.0,1488.0
25,Robusta,luis robles,Ecuador,robustasa,Lavado 3,own laboratory,NaN,robustasa,40,"san juan, playas",...,Blue-Green,0,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,40.0,40.0,40.0

In [29]:
coffee_df.columns

Index(['Species', 'Owner', 'Country.of.Origin', 'Farm.Name', 'Lot.Number',
       'Mill', 'ICO.Number', 'Company', 'Altitude', 'Region', 'Producer',
       'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner', 'Harvest.Year',
       'Grading.Date', 'Owner.1', 'Variety', 'Processing.Method',
       'Fragrance...Aroma', 'Flavor', 'Aftertaste', 'Salt...Acid',
       'Bitter...Sweet', 'Mouthfeel', 'Uniform.Cup', 'Clean.Cup', 'Balance',
       'Cupper.Points', 'Total.Cup.Points', 'Moisture', 'Category.One.Defects',
       'Quakers', 'Color', 'Category.Two.Defects', 'Expiration',
       'Certification.Body', 'Certification.Address', 'Certification.Contact',
       'unit_of_measurement', 'altitude_low_meters', 'altitude_high_meters',
       'altitude_mean_meters'],
      dtype='object')

In [30]:
columns_of_interest = ['Owner', 'Country.of.Origin']
coffee_df[columns_of_interest].head(1)

                          Owner Country.of.Origin
1  ankole coffee producers coop            Uganda

In [31]:
coffee_df['Owner', 'Country.of.Origin']

KeyError: ('Owner', 'Country.of.Origin')

In [32]:
coffee_df[['Owner', 'Country.of.Origin']].head(1)

                          Owner Country.of.Origin
1  ankole coffee producers coop            Uganda

In [33]:
coffee_df.head()

,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,Region,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
1,Robusta,ankole coffee producers coop,Uganda,kyangundu cooperative society,NaN,ankole coffee producers,0,ankole coffee producers coop,1488,sheema south western,...,Green,2,"June 26th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1488.0,1488.0,1488.0
2,Robusta,nishant gurjer,India,sethuraman estate kaapi royale,25,sethuraman estate,14/1148/2017/21,kaapi royale,3170,chikmagalur karnataka indua,...,NaN,2,"October 31st, 2018",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,3170.0,3170.0,3170.0
3,Robusta,andrew hetzel,India,sethuraman estate,NaN,NaN,0000,sethuraman estate,1000m,chikmagalur,...,Green,0,"April 29th, 2016",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,1000.0,1000.0,1000.0
4,Robusta,ugacof,Uganda,ugacof project area,NaN,ugacof,0,ugacof ltd,1212,central,...,Green,7,"July 14th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1212.0,1212.0,1212.0
5,Robusta,katuka development trust ltd,Uganda,katikamu capca farmers association,NaN,katuka development trust,0,katuka development trust ltd,1200-1300,luwero central region,...,Green,3,"June 26th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1200.0,1300.0,1250.0

In [34]:
is_green = coffee_df['Color'] == 'Green'

In [35]:
is_green.shape, coffee_df['Color'].shape

((28,), (28,))

In [36]:
green_coffee_df = coffee_df[is_green]
green_coffee_df.head()

,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,Region,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
1,Robusta,ankole coffee producers coop,Uganda,kyangundu cooperative society,NaN,ankole coffee producers,0,ankole coffee producers coop,1488,sheema south western,...,Green,2,"June 26th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1488.0,1488.0,1488.0
3,Robusta,andrew hetzel,India,sethuraman estate,NaN,NaN,0000,sethuraman estate,1000m,chikmagalur,...,Green,0,"April 29th, 2016",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,1000.0,1000.0,1000.0
4,Robusta,ugacof,Uganda,ugacof project area,NaN,ugacof,0,ugacof ltd,1212,central,...,Green,7,"July 14th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1212.0,1212.0,1212.0
5,Robusta,katuka development trust ltd,Uganda,katikamu capca farmers association,NaN,katuka development trust,0,katuka development trust ltd,1200-1300,luwero central region,...,Green,3,"June 26th, 2015",Uganda Coffee Development Authority,e36d0270932c3b657e96b7b0278dfd85dc0fe743,03077a1c6bac60e6f514691634a7f6eb5c85aae8,m,1200.0,1300.0,1250.0
6,Robusta,andrew hetzel,India,NaN,NaN,(self),NaN,"cafemakers, llc",3000',chikmagalur,...,Green,0,"February 28th, 2013",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,3000.0,3000.0,3000.0

In [37]:
green_coffee_df.shape

(20, 43)

In [38]:
is_green.sum()

20

In [39]:
coffee_df.columns

Index(['Species', 'Owner', 'Country.of.Origin', 'Farm.Name', 'Lot.Number',
       'Mill', 'ICO.Number', 'Company', 'Altitude', 'Region', 'Producer',
       'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner', 'Harvest.Year',
       'Grading.Date', 'Owner.1', 'Variety', 'Processing.Method',
       'Fragrance...Aroma', 'Flavor', 'Aftertaste', 'Salt...Acid',
       'Bitter...Sweet', 'Mouthfeel', 'Uniform.Cup', 'Clean.Cup', 'Balance',
       'Cupper.Points', 'Total.Cup.Points', 'Moisture', 'Category.One.Defects',
       'Quakers', 'Color', 'Category.Two.Defects', 'Expiration',
       'Certification.Body', 'Certification.Address', 'Certification.Contact',
       'unit_of_measurement', 'altitude_low_meters', 'altitude_high_meters',
       'altitude_mean_meters'],
      dtype='object')

In [40]:
score_text = {False:'low',
    True:'high'}

In [41]:
[score_text[flavor_comp] for flavor_comp in coffee_df['Flavor']>=7]

['high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'high',
 'low',
 'low']

In [42]:
from example import name

In [43]:
name

'sarah'